/Development/ServerApplication/LOG
/Development/ClientApplication/LOG

Development/ServerApplication/Database.db
*.db
Development/ServerApplication/Database.db-journal
Development/ServerApplication/Database.db
Development/ClientApplication/LOG/connect.log
Documentation/Pflichtenheft/~$lichtenheft.docx
