.sidebar{
	-fx-background-color: #007AFF;
}

.button{
	-fx-padding: 5 22 5 22;   
    -fx-border-color: #c8c8FF;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #509AFF;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #f8f8f8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
